/* base styles */
/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
  height:  100%;
  width:  100%;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #000000;
  text-decoration: none;
}


.container-fluid {
    margin: 0 auto;
    height: 100%;
/*     padding: 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */
}

/* Home.js */
.home-content,
.home-content-inner,
.home-heading,
.home-text,
hr, {
  margin: 30px auto;
}

hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}

/* .home {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url('http://i.imgur.com/WSYYkeO.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;

} */

.home {
  background: url('http://i.imgur.com/WSYYkeO.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.home-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

.home-heading {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.home-text {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
  padding: 0 28%;
  text-align: justify;
  line-height: 30px;
  letter-spacing: .5px;
}

@media (min-width: 768px) {
  .home {
      min-height: 100%;
  }
}


/* Navbar.js */
.navbar, .nav, .navbar-default {
  background:transparent;
  margin: 0;
  display: inline-block;
}

nav:hover,
nav:focus,
a:hover,
a:focus {
  color: #eb3812;
  text-decoration: none;
}
a {
  color: orange;
}

/* About.js */

.about {
  padding: 50px;
}


